# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.cache


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# libs, etc
Library/
Builds/
obj/
ProjectSettings/
Temp/

# vim
*.swp
*~

# visual studio
*.sln
*.suo
# more to add
*.config
*.csproj
*.pdb
*.manifest
*.cache
*.txt
TemporaryGeneratedFile*.cs
AssemblyInfo.cs

#assets
*.meta
*.unity
*.mat

#library
*.db
*.asset
*.log
*.prefs
*.dwlt
*.json
*.mdb
*.stamp
*.bin

#no postfix
AnnotationManager
assetDatabase3
AssetImportState
ScriptMapper
